      <div id="contenedor">
            <section id="perfil">
                <article id="perfilCont">
                    <figure>
                        <img src="/images/nosotros.png" width="152" height="185">
                    </figure> 
                    <hgroup>
                        <h1>Inside The Market</h1>
                        <h3>Mejor informaci칩n m치s r치pido</h3>
                        <h4>Inside the market naci칩 . </h4>
                    </hgroup>
                    <article id="datosPerfil">
                        <ul>
                            <li><h3>Reputacion:</h3><em>5</em></li>
                            <li><h3>Investigaciones:</h3><em>5</em></li>
                            <li><h3>Tema:</h3><em>Ciencias</em></li>
                        </ul>
                    </article>
                </article>
            </section>
