<section id="strip">	
	<div class="container">
		<h1>
			Standarized market research for SMBs
		</h1>	
		<p>
			Search market research information from around the world.
		</p>
	<%= form_tag articulos_path, method: :get do %>
		
			<input type="text" value="" name='q' placeholder=""/>	
			<button type="submit" class="search">Buscar</button>
		</form>
	<% end %>	
	</div>
</section>

