<section id="strip">	
	<div class="container">
		<h1>
			Estudios de mercado a tu medida
		</h1>	
		<p>
			Busca entre más de 35.000 estudios realizados por profesionales, listos para usar:
		</p>
		<form action="">
			<input type="text" value="" placeholder="Estudio, escuestas..."/>	
			<button type="submit" class="search">Buscar</button>
		</form>
	</div>
</section>

