		<section id="contact">
			
			<div class="container">
				<h2>No hay resultados... pero sabemos quién puede encontrarlos.</h2>
				
				<div class="requirements">
					
					<p>Explícanos cuál es el estudio de mercado que necesitas realizar. Buscaremos profesionales interesados en realizarlos y te contactaremos con su propuesta.</p>
					
					<form action="">
						
						<label for="name">Nombre</label>
						<input type="text" name="name" >
						<br/><!-- Me perdonarán los puristas-->
						<label for="name">Email</label>
						<input type="email" name="email">
						<br/>
						<label for="message">Describe el estudio de mercado necesitas.
							<div class="nota">
								Cuéntanos qué buscas: explorar, concluir, observar. En quiénes quieres enfocarte. ¿Quieres agrupar las personas por ingresos, gustos, estilos de vida, expectativas? ¿Qué quieres lograr, un impacto local o global? ¿En dónde te quieres enfocar?
							</div>
						</label>
						
						<textarea name="message"></textarea>
						<button type="submit" class="search">Enviar</button>
					</form>					
					
				</div>	
				
			</div>
						
		</section>	

