<div class='research'>
	<div class='meta'>
		<h2>Penetración de la publicidad online en microempresas bogotanas</h2>
			<img src='/images/research.gif' class='bn'/>
		<p>La publicidad online parece estar desplazando a la que se hace en los medios tradicionales, cada día vemos más 
		imagenes e información en los diferentes sitios que las permiten, las empresas están gastando en redes sociales
		y comunicandose con sus usuarios a través de esos medios. </p>
		<p>Pero, la publicidad online y el community management, ¿es un lujo que solo las grandes empresas se dan ó hay espacio
		aquí para las empresas pequeñas?¿qué importancia le dan las pymes a estas estrategias?
	</div>
	
	<h3>Descripción del autor</h3>
	<p>Con el resultado de esta investigación podras conocer mejor como está el mercado de la publicidad online para las
	pymes, que elementos buscan a la hora de contratar, que presupuesto tienen y que les interesa más que aún no esta siendo
	satisfecho.</p>
	<p>La realice como ejercicio investigativo para una materia en mi carrera de administración, se encuestaron 250 empresas de 
	diferentes sectores de la universidad</p>
	<div class='col '>
	<h3>Keywords</h3>
	<ul>
		<li><a href='/tag/publicidad'>Publicidad</a></li>
		<li><a href='/tag/pymes'>pymes</a></li>
		<li><a href='/tag/social_media'>social media</a></li>
	</ul>
	</div>
	<div class='col profile'>
	<img src='/images/profi.jpg' >
	<h3><a href='#'>Carolina Vargas</a></h3>
		<p>Administración de Empresas - Universidad de los Andes </p>
		<p>Reputación:  <span>n/a</span></p>
	</div>
	<h3>Comentarios</h3>
		<ul>
			<li>Esta publicación no tiene comentarios aún</li>
		</ul>
</div>
