        <div id="contenedor">
            <section id="perfil">
                <article id="perfilCont">
                    <figure>
                        <img src="/images/foto-perfil.png" width="152" height="185">
                    </figure> 
                    <hgroup>
                        <h1>Nombre de la persona</h1>
                        <h3>Ingeniero Industrial <span>Universidad Nacional</span></h3>
                        <h4>esta es la descripcion de la persona en un parrafo muy corto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue eleifend nulla at gravida. Sed gravida vulputate lectus ut ultrices. Aliquam erat volutpat. Pellentesque habitant. </h4>
                    </hgroup>
                    <article id="datosPerfil">
                        <ul>
                            <li><h3>Reputacion:</h3><em>5</em></li>
                            <li><h3>Investigaciones:</h3><em>5</em></li>
                            <li><h3>Tema:</h3><em>Ciencias</em></li>
                        </ul>
                    </article>
                </article>
            </section>
            <section id="results">
                <div class="container">
                    <h2>5 estudios encontrados</h2>
        
                    <div class="results">
                        <ol>
                            <li class="clearfix">
                                <div class="position">1</div>
                                <div class="result-details">
                                    <h3><a href="">Marketplace para venta de tests.</a></h3>
                                    <span class="author"> <a href="">Michael Jackson</a>, <a href="">Teto Ocampo</a> </span> | <time>26 de febrero de 2012.</time>
                                    <p>Descripción</p>
                                </div>
                                <div class="result-meta">
                                    <div class="price">$100.000</div>
                                    <div class="reputation">4.5 <div>Valoración</div></div>
                                </div>
                    
                            </li>
                            <li class="clearfix">
                                <div class="position">2</div>
                                <div class="result-details">
                                    <h3><a href="">Marketplace para venta de tests.</a></h3>
                                    <span class="author"> <a href="">Michael Jackson</a>, <a href="">Teto Ocampo</a> </span> | <time>26 de febrero de 2012.</time>
                                    <p>Los órganos pueden salvar la vida de muchas personas, por lo tanto se intenta calcular el valor de un ojo...</p>
                                </div>
                                <div class="result-meta">
                                    <div class="price free">Free!</div>
                                    <div class="reputation">3.5 <div>Valoración</div></div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="position">3</div>
                                <div class="result-details">
                                    <h3><a href="">Marketplace para venta de tests.</a></h3>
                                    <span class="author"> <a href="">Michael Jackson</a>, <a href="">Teto Ocampo</a> </span> | <time>26 de febrero de 2012.</time>
                                    <p>Los órganos pueden salvar la vida de muchas personas, por lo tanto se intenta calcular el valor de un ojo...</p>
                                </div>
                                <div class="result-meta">
                                    <div class="price free">Free!</div>
                                    <div class="reputation">2.5 <div>Valoración</div></div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="position">4</div>
                                <div class="result-details">
                                    <h3><a href="">Marketplace para venta de tests.</a></h3>
                                    <span class="author"> <a href="">Michael Jackson</a>, <a href="">Teto Ocampo</a> </span> | <time>26 de febrero de 2012.</time>
                                    <p>Los órganos pueden salvar la vida de muchas personas, por lo tanto se intenta calcular el valor de un ojo...</p>
                                </div>
                                <div class="result-meta">
                                    <div class="price free">$1'500.000</div>
                                    <div class="reputation">5.0 <div>Valoración</span></div>
                                </div>
                            </li>
                        </ol>   
                    </div>
                    
                </div>          

            </section>  
        </div>

